{
  "allowAdminCommands" : true,
  "allowAdminCommandsFromAnyone" : false,
  "allowAnonymousConnections" : false,
  "allowAssetsMismatch" : true,
  "anonymousConnectionsAreAdmin" : false,
  "bannedIPs" : [],
  "bannedUuids" : [],
  "checkAssetsDigest" : false,
  "clearPlayerFiles" : false,
  "clearUniverseFiles" : false,
  "clientIPJoinable" : false,
  "clientP2PJoinable" : true,
  "configurationVersion" : {
    "basic" : 1,
    "server" : 4
  },
  "crafting" : {
    "filterHaveMaterials" : false
  },
  "gameServerBind" : "::",
  "gameServerPort" : 21024,
  "interactiveHighlight" : true,
  "inventory" : {
    "pickupToActionBar" : true
  },
  "maxPlayers" : 25,
  "maxTeamSize" : 6,
  "playerBackupFileCount" : 3,
  "queryServerBind" : "::",
  "queryServerPort" : 21025,
  "rconServerBind" : "::",
  "rconServerPassword" : "",
  "rconServerPort" : 21026,
  "rconServerTimeout" : 1000,
  "runQueryServer" : false,
  "runRconServer" : false,
  "safeScripts" : true,
  "scriptInstructionLimit" : 10000000,
  "scriptInstructionMeasureInterval" : 10000,
  "scriptProfilingEnabled" : false,
  "scriptRecursionLimit" : 100,
  "serverFidelity" : "automatic",
  "serverName" : "SB Shuieryin GZ Server",
  "serverOverrideAssetsDigest" : null,
  "serverUsers" : {
    "10001" : {
      "admin" : false,
      "password" : "78263"
    },
    "1332599719" : {
      "admin" : false,
      "password" : "computer"
    },
    "159357" : {
      "admin" : false,
      "password" : "a913"
    },
    "1594357" : {
      "admin" : false,
      "password" : "5fba"
    },
    "20151216" : {
      "admin" : false,
      "password" : "3125"
    },
    "2297046979" : {
      "admin" : false,
      "password" : "yangz9104265"
    },
    "332332" : {
      "admin" : false,
      "password" : "233233"
    },
    "554787243" : {
      "admin" : false,
      "password" : "bcb6"
    },
    "634288922" : {
      "admin" : false,
      "password" : "qw2003"
    },
    "6764664" : {
      "admin" : false,
      "password" : "a0b0"
    },
    "741852963" : {
      "admin" : false,
      "password" : "963852741"
    },
    "849464684" : {
      "admin" : false,
      "password" : "Ace"
    },
    "871420764" : {
      "admin" : false,
      "password" : "a470"
    },
    "CrazyBoyT" : {
      "admin" : false,
      "password" : "jumbo747"
    },
    "Dengz" : {
      "admin" : false,
      "password" : "123456"
    },
    "Goddragon" : {
      "admin" : false,
      "password" : "1098957597"
    },
    "H_neng" : {
      "admin" : false,
      "password" : "xiaoxiong!@#"
    },
    "JUHUA" : {
      "admin" : false,
      "password" : "JUHUA"
    },
    "Lucky" : {
      "admin" : false,
      "password" : "qweasd"
    },
    "MikoLen" : {
      "admin" : false,
      "password" : "xiaoleng233"
    },
    "OokuraM5" : {
      "admin" : false,
      "password" : "1234567890"
    },
    "Vic" : {
      "admin" : false,
      "password" : "937102737@qq.com"
    },
    "baiyue" : {
      "admin" : false,
      "password" : "4e1f"
    },
    "banish" : {
      "admin" : false,
      "password" : "565658"
    },
    "cartridge" : {
      "admin" : false,
      "password" : "483a"
    },
    "collin233" : {
      "admin" : false,
      "password" : "92d1"
    },
    "colling" : {
      "admin" : false,
      "password" : "4638"
    },
    "collinguo" : {
      "admin" : false,
      "password" : "aabe"
    },
    "cr" : {
      "admin" : false,
      "password" : "cr123"
    },
    "feng" : {
      "admin" : false,
      "password" : "feng123"
    },
    "fss" : {
      "admin" : false,
      "password" : "fss123"
    },
    "gaoyi1217" : {
      "admin" : false,
      "password" : "83a7"
    },
    "gezhuzhu" : {
      "admin" : false,
      "password" : "41f0"
    },
    "hc" : {
      "admin" : false,
      "password" : "hc"
    },
    "hxl123" : {
      "admin" : false,
      "password" : "hxl321"
    },
    "imzeng" : {
      "admin" : false,
      "password" : "imzeng"
    },
    "ironzap" : {
      "admin" : false,
      "password" : "467f"
    },
    "jdjskdkd" : {
      "admin" : false,
      "password" : "16cd"
    },
    "jujuju" : {
      "admin" : false,
      "password" : "4647"
    },
    "jzjxjdd" : {
      "admin" : false,
      "password" : "4517"
    },
    "kame_r" : {
      "admin" : false,
      "password" : "kame_r123"
    },
    "krirwey" : {
      "admin" : false,
      "password" : "b6be"
    },
    "mdzz300" : {
      "admin" : false,
      "password" : "48fd"
    },
    "mindgazer" : {
      "admin" : false,
      "password" : "45a8"
    },
    "mkxwxz" : {
      "admin" : false,
      "password" : "86b9"
    },
    "mochiya" : {
      "admin" : false,
      "password" : "95ee"
    },
    "nuonuo2016" : {
      "admin" : false,
      "password" : "a5ae"
    },
    "oilding" : {
      "admin" : false,
      "password" : "oilding"
    },
    "orange" : {
      "admin" : false,
      "password" : "8b92"
    },
    "qiuhun001" : {
      "admin" : false,
      "password" : "1234567890"
    },
    "qiuhun002" : {
      "admin" : false,
      "password" : "1234567890"
    },
    "quasimodo" : {
      "admin" : false,
      "password" : "b67c"
    },
    "qwe1109690564" : {
      "admin" : false,
      "password" : "123zxc456vbn"
    },
    "rivan000" : {
      "admin" : false,
      "password" : "12121212"
    },
    "sasakia" : {
      "admin" : false,
      "password" : "8157"
    },
    "sbzhanghao" : {
      "admin" : false,
      "password" : "dthcdhkp52554"
    },
    "shuieryin" : {
      "admin" : true,
      "password" : "123123"
    },
    "testing" : {
      "admin" : false,
      "password" : "4920"
    },
    "weihang" : {
      "admin" : false,
      "password" : "44a4"
    },
    "windows10" : {
      "admin" : false,
      "password" : "6547"
    },
    "wsmtchenqi" : {
      "admin" : false,
      "password" : "4227"
    },
    "xiao_xuan" : {
      "admin" : false,
      "password" : "qaws123789"
    },
    "xiaoxinyangzuishuai" : {
      "admin" : false,
      "password" : "xiaoxinyang2003"
    },
    "xinrong" : {
      "admin" : false,
      "password" : "a86b"
    },
    "xinxian" : {
      "admin" : false,
      "password" : "xinxian123"
    },
    "zhwh637" : {
      "admin" : false,
      "password" : "4677"
    },
    "zidan" : {
      "admin" : false,
      "password" : "zidan"
    },
    "zjzjis" : {
      "admin" : false,
      "password" : "404f"
    },
    "zzxcxp11" : {
      "admin" : false,
      "password" : "zxcvbnm123"
    }
  },
  "tutorialMessages" : true
}