{erl_opts, [
%%     no_debug_info,
    native,
    {hipe, o3},
    fail_on_warning
]}.

{deps, [
    {json, {git, "git://github.com/talentdeficit/json.git", {tag, "master"}}},
    {elib, {git, "git://github.com/shuieryin/elib.git", {tag, "master"}}}
]}.

{relx, [
    {release,
        {
            starbound_support, %% app-name-marker
            "0.0.1" %% release-version-marker
        },
        [
            sasl,
            starbound_support,
            {observer, load}, % Allow live debugging of server
            {elib, load},
            {json, load},
            {wx, load}, % Required by observer
            {runtime_tools, load}, % Required by observer
            {dialyzer, load} % Required by common test
        ]
    },
    {dev_mode, false},
    {include_erts, true},
    {system_libs, false},
    {extended_start_script, true},
    {vm_args, "config/vm.args"},
    {sys_config, "config/sys.config"},
    {overlay, [
        {mkdir, "log/sasl"}
    ]}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.

{plugins, [{ehcu, {git, "https://github.com/shuieryin/ehcu.git",
    {branch, "master"}}}]}.

{minimum_otp_vsn, "18.1"}.
